@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}

#fristPageBtn-text {
    transition: .3s;
}

#fristPageBtn-text:hover {
    background-color: #FFFF;
    color: black;
}

#fristPageBtn-text:hover~#fristPageicon::after {
    width: 100%;
    height: 100%;
}

#fristPageBtn-text:hover~#fristPageicon {
    /* border: .3vmin solid black ; */
}

#fristPageBtn-text:hover~#fristPageicon>.balck {
    color: black;
}

#fristPageicon::after {
    content: '';
    width: 0%;
    height: 0%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ffff;
    transition: .3s;
    border-radius: 50%;
    z-index: -1;
}

#fristPageicon:hover:after {
    width: 100%;
    height: 100%;
}

#fristPageicon:hover {
    /* border: .3vmin solid black ; */
}

#fristPageicon:hover>.balck {
    color: black;
    border: .3vmin solid black;
}



/* =================== underline text animition ================ */
.underlineText:hover>.line {
    animation: move .6s ease 2 alternate-reverse;
}

@keyframes move {
    0% {
        width: 0;
    }

}



#approach-section {
    background: linear-gradient(to bottom, #ceeb67, #000000);
}

.cmn-btn::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(0, 100%);
    background: #fff;
    z-index: -1;
    border-radius: 50%;
    transition: .3s;
}

.cmn-btn::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(0, -100%);
    background: #fff;
    z-index: -1;
    border-radius: 50%;
    transition: .3s;
}

.cmn-btn:hover {
    color: #000000;
}

.cmn-btn:hover::after {
    transform: translate(0, 0);
    border-radius: 0%;
}

.cmn-btn:hover::before {
    transform: translate(0, 0);
    border-radius: 0%;
}



/* ===============================  */
/* responsive  */
/* ==================================== */
@media (max-width: 756px){
    
    #section1{
        height: 90vh;
    }
    #approach-section{
        flex-direction: column;
        gap: 8vmin;
    }
    #approach-img{
        width: 90%;
    }
    .pair-card-con{
        flex-direction: column;
        gap: 4vmin;
    }
    .card-pair{
        width: 98%;

    }
    .pair-card-text{
        backdrop-filter: blur(10px);
    }
    .client-p{
        font-size: 8vmin;
    }
    .client-img{
        width: 27vmin;
    }
    #footer{
        flex-direction: column;
        gap: 5vmin;
        /* background-color: red; */
    }
    #footer-bottom{
        width: 90vmin;
        
    }
}
@media (max-width: 1145px) {
    #section1{
        height: auto;
        gap: 15vmin;
    }
    #nav-main-con{
        position: relative;

    }
    #nav-con{
        z-index: 99;
        position: absolute;
        /* right: -100%; */
        top: 0;
        /* display: none; */
        flex-direction: column;
        width: 40vmin;
        height: 100vh;
        background: #ceeb67;
        border-bottom-right-radius: 50px;
        border-bottom-left-radius: 50px;
        align-items: flex-start;
        padding: 10vmin 4vmin;
        justify-content: start;
    }
    #menu-btn{
        display: block;
    }
    #contunct{
        margin-left: 0;
    }
    .item{
        font-size: 6vmin;
        color: black;
    }

    #page1-big-text {
        font-size: 13vmin;
        line-height: 12vw;
    }
    .move-text{
        font-size: 40vmin;
    }

    #about-con {
        gap: 7vmin;
    }

    #about-text-top {
        display: block;
        font-size: 7vmin;
        text-align: center;
    }

    #about-info {
        justify-content: space-between;
        gap: 4vmin;

    }

    #about-info #para {
        width: 70vmin;
        font-size: 4vmin;
    }

    #about-info #contuct>h1 {
        font-size: 6vmin;
    }

    #about-info #contuct>span {
        font-size: 5vmin;
    }

    #client-info-con {
        /* flex-direction: column;
        
        gap: 3vmin; */

    }

    #client-parsonal {

        width: 70vmin;
    }

    #client-parsonal p {
        font-size: 5vmin;
    }
    #client-review,#client-review2 {
        height: auto;
    }
    #client-project, #read-text{
        font-size: 9vmin;

    }
    #client-project{
        width: 300px;

    }
    #client-name{
        font-size: 7.4vmin;
        width: 220px;
    }
    #card-of-cardSection{
        width: 70vmin;
    }
    .cardSection{
        height: auto;
    }
    .or-text{
        font-size: 7.7vmin;
        line-height: 1;
    }

}